<div class="row">
  
  <div class="col-lg-3">
    <div class="stock">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Iphone 13 mini</h5>
            
            <a href="#" class="btn btn-primary">ADD TO CART</a>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="stock">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Iphone 13 mini</h5>
            
            <a href="#" class="btn btn-primary">ADD TO CART</a>
          </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div class="stock">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Iphone 13 mini</h5>
            
            <a href="#" class="btn btn-primary">ADD TO CART</a>
          </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div class="stock">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Iphone 13 mini</h5>
            
            <a href="#" class="btn btn-primary">ADD TO CART</a>
          </div>
      </div>
    </div>
  </div>

</div>

<!-- row 2 -->

<div class="row" style="margin-top: 10px;">
  
  <div class="col-lg-3">
    <div class="stock">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Iphone 13 mini</h5>
            
            <a href="#" class="btn btn-primary">ADD TO CART</a>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="stock">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Iphone 13 mini</h5>
            
            <a href="#" class="btn btn-primary">ADD TO CART</a>
          </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div class="stock">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Iphone 13 mini</h5>
            
            <a href="#" class="btn btn-primary">ADD TO CART</a>
          </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div class="stock">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Iphone 13 mini</h5>
            
            <a href="#" class="btn btn-primary">ADD TO CART</a>
          </div>
      </div>
    </div>
  </div>
  
</div>